*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktop{
    width: 1440px;
    height: 9467px;
}

header{
    height: 83px;
    display: flex;
    justify-content: space-between;
}

.logo img{
    margin-top: 16px;
    margin-left: 32px;
}

.nav_menu, .registration{
    display: flex;
    align-items: center;
}

.nav_menu{
    column-gap: 48px;
}

.nav_menu_item a{
    color: #000000;;
    font-size: 16px;
    text-decoration: none;
}

.nav_menu_item img{
    margin-bottom: 2px;
    margin-left: 8px;
}

.registration{
    column-gap: 24px;
    margin-right: 32px;
}

button{
    width: 163px;
    height: 54px;
    background: #0B2330;
    color: white;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

main{
    height: 8288px;
}

h1{
    font-size: 60px;
    font-weight: 400;
    width: 436px;
    height: 256px;
    margin-top: 154px;
    margin-left: 147px;
    margin-bottom: 32px;
    color: #0B2330;
    line-height: 64px;
}

.header_wrap_content p{
    width: 436px;
    height: 96px;
    color: #375361;
    font-size: 22px;
    line-height: 32px;
    margin-left: 147px;
    margin-bottom: 38px;
}

.style_button_one{
    margin-left: 147px;
    color: black;
    background: #f9c600;
    border: none;
}

.style_button_two{
    background: white;
    color: black;
}

.header_wrap_content{
    width: 840px;
}

.header_wrap{
    display: flex;
    height: 886px;
}

.img_1{
    position: absolute;
    margin-left: -710px;
    margin-top: 139px;
}

h2{
    width: 547px;
    height: 96px;
    color: #0b2330;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    font-weight: 400;
    padding-top: 189px;
    margin-left: 447px;
    margin-bottom: 59px;
}

.companies{
    display: flex;
    flex-wrap: wrap;
    margin-left: 174px;
    column-gap: 82px;
    row-gap: 16px;
}

.customers{
    height: 1230px;
}

.bicyclist{
    background: #51cebc;
    margin-top: 192px;
    display: flex;
    width: 1376px;
    margin-left: 32px;
    border-radius: 10px;
}

.style_text_one{
    margin-left: 0;
    padding-top: 114px;
    text-align: left;
    width: 557px;
    height: 120px;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 35px;
}

.wrap_bicyclist_text p{
    width: 533px;
    height: 64px;
    color: #0b2330;
    font-size: 22px;
    line-height: 32px;
}

.analytics{
    height: 1856px;
}

.style_text_two{
    width: 711px;
    height: 80px;
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    color: #0b2330;
    margin-bottom: 57px;
    margin-left: 365px;
}

.backing{
    margin-left: 265px;
    margin-bottom: 113px;
}

.button_backing{
    margin-left: 638px;
    margin-bottom: 160px;
}

.target{
    width: 1260px;
    height: 537px;
    background: #bd78f0;
    border-radius: 10px;
    margin-left: 148px;
    display: flex;
}

.target img{
    margin-left: -116px;
}

.target_text{
    margin-left: 136px;
}

.target_text h2{
    width: 485px;
    height: 192px;
    font-size: 42px;
    line-height: 48px;
}

.target_text p{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    width: 550px;
    height: 56px;
}

.solutions{
    height: 1908px;
    margin-left: 148px;
}

.solutions p{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6A7981;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
}

.solutions h2, .integrations h2{
    width: 593px;
    height: 144px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #0B2330;
    margin-left: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 26px;
}

.solutions h3{
    width: 500px;
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    font-weight: normal;
    margin-bottom: 226px;
}

.wrap_solutions, .wrap_tags_solutions{
    display: flex;
}

.content_solutions img{
    margin-bottom: 23px;
}

.content_solutions h3{
    width: 402px;
    height: 40px;
    letter-spacing: 1px;
    color: #0B2330;
    font-size: 34px;
    margin-bottom: 29px;
}

.content_solutions div{
    width: 484px;
    height: 84px;
    color: #375361;
    font-size: 17px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 36px;
}

.button_backing_two{
    margin-bottom: 140px;
}

.button_backing_three{
    margin-top: 30px;
}

.wrap_image_solutions{
    margin-left: 263px;
}

.img_backing{
    margin-bottom: 97px;
}

.wrap_tags_solutions div{
    height: 16px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    line-height: 16px;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding-left: 8px;
}

.wrap_tags_solutions{
    column-gap: 8px;
}

.tags_style_one{
    width: 212px;
    background: #E7EAEB;
    color: #61757E;
}

.tags_style_two{
    width: 131px;
    background: #E7EAEB;
    color: #61757E;
}

.tags_style_three{
    width: 136px;
    background: #fe9f28;
    color: #0B2330;
}

.features{
    height: 1144px;
}

.wrap_features p{
    text-transform: uppercase;
    color: #375361;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 96px;
    margin-left: 122px;
    margin-bottom: 10px;
}

.wrap_features{
    background: #f2ede7;
    height: 960px;
}

.wrap_features h3{
    width: 1064px;
    height: 128px;
    color: #0b2330;
    font-size: 60px;
    line-height: 64px;
    font-weight: normal;
    margin-left: 122px;
    margin-bottom: 120px;
}

.wrap_target, .wrap_link, .profile, .wrap_example, .wrap_other_target, .wrap_integrations{
    display: flex;
}

.wrap_target img{
    margin-left: 122px;
    margin-right: 140px;
}

hr{
    height: 2px;
    width: 588px;
    background: #c9316f;
    margin-bottom: 25px;
}

.wrap_title{
    display: flex;
    justify-content: space-between;
}

.wrap_title img{
    margin: 0;
    width: 24px;
    height: 24px;
}

.wrap_title h4{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    width: 245px;
    height: 32px;
    margin-bottom: 24px;
}

.wrap_text_target h5{
    color: #375361;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 28px;
    padding: 0;
    width: 563px;
    margin-bottom: 40px;
}

.wrap_other_target img{
    margin-left: 8px;
    width: 28px;
    height: 12px;
    margin-top: 9px;
}

.wrap_other_target h5{
    width: 86px;
    margin-bottom: 25px;
}

.hr_style_one{
    background: #C3CACD;
}

.wrap_integrations_text{
    margin-left: 148px;
}

.wrap_integrations_text button{
    margin-left: 0;
    width: 208px;
}

.integrations{
    height: 1264px;
}

.integrations h4{
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #375361;
    font-size: 14px;
    line-height: 24px;
}

.integrations h2{
    font-size: 34px;
    line-height: 40px;
}

.wrap_integrations_text h2{
    width: 669px;
    margin-top: 15px;
    margin-bottom: 37px;
}

.integrations p{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.wrap_integrations_text p{
    width: 667px;
    margin-bottom: 36px;
}

.wrap_integrations img{
    margin-left: 183px;
}

.wrap_example{
    width: 1376px;
    padding-top: 240px;
    display: flex;
    margin-left: 32px;
}

.case_study{
    width: 582px;
    height: 584px;
    background: #f2ede7;
    border-radius: 10px 0 0 10px;
}

.case_study_text{
    margin-left: 116px;
    margin-top: 80px;
}

.case_study_text h3{
    width: 314px;
    height: 64px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 17px;
    margin-bottom: 27px;
}

.case_study_text button{
    margin-top: 36px;
    background: #f2ede7;
    width: 140px;
}

.quote{
    background: #f9c600;
    border-radius: 0 10px 10px 0;
    width: 794px;
}

.quote_text{
    margin-top: 79px;
    margin-left: 116px;
}

.profile{
    margin-top: 177px;
}

.wrap_text_profile{
    margin-left: 24px;
    margin-top: 15px;
}

.position_img{
    position: absolute;
    margin-top: -480px;
    margin-left: -116px;
}

footer{
    height: 1096px;
    background: #0b2330;
}

.launch{
    height: 423px;
}

.text_launch{
    padding-top: 53px;
}

.text_launch h3{
    font-size: 42px;
    line-height: 48px;
    color: white;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.text_launch_style{
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    margin-top: 31px;
    margin-bottom: 36px;
}

.launch button{
    margin-left: 638px;
    margin-bottom: 94px;
}

.launch hr{
    background: #375361;
    margin-left: 32px;
    width: 1376px;
    height: 1px;
}

.offers{
    height: 673px;
    display: flex;
}

.footer_logo{
    padding-top: 80px;
    margin-left: 32px;
    margin-right: 109px;
}

.wrap_offers{
    height: 378px;
    width: 1022px;
    padding-top: 80px;
}

.offers_item_title, .offers_item{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.offers_item_title{
    color: #F9C600;
}

.offers_item a{
    text-decoration: none;
    color: #94A0A4;
}

.column_link{
    height: 358px;
    width: 236px;
}

.color_text{
    color: #94A0A4;
}

.wrap_shortcuts{
    display: flex;
    justify-content: space-between;
}

.image_margin{
    margin-left: 24px;
}